/* CSS para header fixo */
#header {
    position: fixed; /* Fixa o header no topo */
    top: 0; /* Posiciona o header no topo */
    left: 0; /* Alinha à esquerda */
    right: 0; /* Alinha à direita */
    z-index: 1000; /* Mantém o header acima de outros elementos */
    background-color: #ffffff; /* Cor de fundo do header */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Ajusta o espaço no topo do conteúdo abaixo do header fixo */
body {
    padding-top: 80px; /* Altura do header (ajuste conforme necessário) */
}
.nav-item2{
    padding-top: 20px;
}
/* Estilos adicionais */
.navbar-nav {
    flex-grow: 1;
    justify-content: center;
}

.home-button {
    background-color: #e5cf8c; /* Bootstrap's primary color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.header-text {
    font-family: "IBM Plex Serif", sans-serif;
}

.navbar-brand, .nav-link, .dropdown-item {
    font-size: 1.5rem; 
}
/*First*/

#first {
    position: relative;
    padding-bottom: 6%;
    
}

.image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    z-index: 10; /* Opcional: garante que a imagem esteja acima de outros elementos */
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 15px; /* Mantém o estilo arredondado */
}
.heading-first{
    font-family: "IBM Plex Serif", serif;
}
.text-first{
    font-family: "Alice", serif; 
    padding-top: 3%;
    padding-right: 10%;
}

@media (max-width: 992px) {
    .row-first {
        flex-direction: column;
    }
    
    .text-first {
        padding-right: 0;
    }
    
    .col {
        padding: 0 !important;
    }
}
/*<Includes*/


li {
    padding-bottom: 3%;
}
.text-includes{
    font-family: "Alice", serif; 
    font-size: 1.3rem;
    padding-left: 10%;
    padding-right: 5%;
}
.heading-includes{
    padding-top: 2.5%;
    font-family: "IBM Plex Serif", serif;
    font-size: 2.5rem;
    padding-left: 10%;
    padding-right: 5%;
}
.img{
    padding-left: 10%;
    padding-right: 5%;
}
.form.mt-4{
    padding-bottom: 10%;
}
/*Footer*/
.logotipo-footer{
    padding-left: 4%;
    padding-top: 2%;
}
.logos{
    padding: 0px 0px 0px 0px;

}
#footer{
    padding-top: 6%;
}

@media (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .col-md-4 {
        text-align: center;
    }
    .logos {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .logos {
        flex-wrap: wrap;
    }
}
